:root
{
    --main-color-white: #fff;
    --main-color-blue: #4D5AE5;
    --main-color-text:#2E2F42 ;
    --second-color-text: #434455;
    --color-cloud:#E7E9FC;
    --color-of-card: #F4F4FD;
    --main-color-focus:#4D5AE5;
    --button-h-one-focus:#404BBF;
    --color-border:#8E8F99;

}

/*#4D5AE5  цвет лого  */
/* #2E2F42 заглавный цвет текста */
/* #FFFFFF цвет фона */
/* #434455 вторичный цвет текста */
/* #E7E9FC цвет текста футера */
/* #F4F4FD цевт сецкии с карточками */


/* оформлення боді*/

body
{
    color:var(--main-color-text);
    font-family: Roboto, sans-serif;
    background-color: var(--main-color-white);
}

p
{
    margin: 0;
}

textarea
{
    resize: none;
}



.menu-button
{
    display: none;
}

.main-nav
{
    align-items: center;
    display: flex;

   
}

.container
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 1158px; */
}

.list
{
    padding: 0;
    margin:0;
    list-style: none;
} 

.color-title
{
    color:var(--main-color-text);
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 20px;
}


/* logo design */
.header
{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}

.color-web
{
    
    font-family: Raleway, sans-serif;
    color:var(--main-color-blue);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    text-decoration: none;
    
}


.studio-title
{
    font-family: Raleway, sans-serif;
    color:var(--main-color-text);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 77px;
}

/* navigation design */



.navigation
{
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 600;
    
}



.navigation li:not(:last-child)
{
    margin-right: 40px;
}


.studio-color
{
    color: var(--main-color-blue);
}

.item
{

    position: relative;
    text-decoration: none;
    color: var(--main-color-text);



    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.item:hover, .item:focus
{
    color: var(--main-color-focus);
}



.item.underline::after
{
    
    content: "";
    position: absolute;
    left: 0;
    top: 42px;  

    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;

    background: #4D5AE5; 
}



/*adress design */

.adress
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--second-color-text);
    text-decoration:none;



    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:focus, .adress:hover
{
    color:var(--main-color-focus);
}

.contact
{
    
    display: flex;
    margin-left:auto
}

.contact li:not(:last-child)
{
    margin-right: 40px ;
}


/* section 1 */

.overlay
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../image/people/people-ofice.jpg);
}

.section-title
{    
    padding-top: 192px;
    padding-bottom: 192px;
    height: 600px;
    background-color:var(--main-color-text);
}

.title-h-one
{
    margin:0;
    margin-right: auto;
    margin-left:auto;
    margin-bottom:48px;
    color:var(--main-color-white);
    max-width: 500px;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

}

.button-h-one
{
    display: block;
    margin: 0;
    margin-right: auto;
    margin-left:auto;
    min-width: 170px;
    border-radius: 4px;
    padding: 16px 32px;
    color:var(--main-color-white);
    background: var(--main-color-blue);
    font-family: Roboto, serif;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 16px;
    border:1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);



    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-h-one:focus, .button-h-one:hover
{
    background-color:var(--button-h-one-focus);
}


/* section 2 */

.icon {
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    background-position: center;
}




.recomends
{
    display: flex;
}

.recomends>li:not(:first-child)
{
    margin-left: 24px;
}
.section-h-two
{
    
    padding-top: 120px;
    padding-bottom: 120px;
    color: var(--second-color-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 20px;
}

.p-h-two
{
    
    font-size: 16px;
}

.about
{
    text-align: left;
    margin-bottom: 8px;
    margin-top: 0;
}
.recomends-p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* section 3 */

.icon-father-team
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    margin-bottom: 32px;
    gap: 24px;

    height: 48px;
}


.icon-team
{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: var(--main-color-blue);
   
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team:hover
{
    background-color: var(--button-h-one-focus);

}


.section
{
    padding-bottom: 120px;
}

.color-card
{
    background-color: var(--main-color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px
}
.card-bgc
{
    
    padding-bottom: 120px;
}

.about-us 
{
    margin: 0;
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0.02em;
}



.img
{
    display: flex;
}
.img li:not(:first-child)
{
    margin-left: 24px;
}
/* section 4 */

.section-h-three
{
    background-color: var(--color-of-card);
    padding-top: 120px;
}
.our-team
{
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 36px;
    
}

.color-p
{
    color:var(--second-color-text);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}


.guys
{
    text-align: center;
    font-size: 20px;
}

.team
{
    
    margin-top: 32px;
    margin-bottom: 8px;
}




/* Customers */

.section-customers
{
    padding-bottom: 120px;
    padding-top: 120px;
}

.customers-h-one
{
    margin:0;
    margin-bottom: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.customers
{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
}


.customers-item
{
    width: 168px;
    height: 88px;
    border:1px solid#8E8F99;
    border-radius: 4px;
    fill:#8e8f99;


    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover, .customers-item:focus
{
    border-color: #4D5AE5;
    fill: #4D5AE5;
}


/* footer */
.p {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
}
.footer-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-list li + li {
    margin-left: 16px;
}
.footer ul {
    display: flex;
}
.footer div {
    display: flex;
    align-items: center;

}
.footer-div
{
    display: flex;
    align-items: center;
  
    flex-direction: column;
    margin-right: 120px;
}



.footer
{
    padding-bottom: 100px;
    padding-top: 100px;
    background-color:var(--main-color-text);
    color:var(--color-cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.studio-second
{
    font-family: Raleway, sans-serif;
    color:var(--color-cloud);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
}




.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);


    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color:#31D0AA;
}

.footer-list li + li {
    margin-left: 16px;
}




/* модалка */

.backdrop
{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    overflow-y:scroll ;


    opacity: 1;
    transition: opacity 250ms;
}

.backdrop.is-hidden
{
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}



.backdrop.backdrop.is-hidden .modal
{
    transform: scale(0.9) translate(-50%,-50%);
}

.modal
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: scale(1) translate(-50%,-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 408px;
    height: 625px;
   

    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-button
{
    position: absolute;
    left: 360px;
    top: 20px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.modal-button:hover, .svg-use:hover
{
    background: #404BBF;
    fill: #FFFFFF;
    
}

.svg-modal
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 8px;
    height:8px;
    
}



.modal-h
{
    margin: 0;
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #2E2F42;




    position: absolute;
    width: 360px;
    height: 24px;
    left:20px;
    top: 40px;

}



.form
{
    width: 360px;
    margin-left:auto ;
    margin-right: auto;
   
}

.first-item
{
    
    margin-top:112px;
}
.form-item
{
    position: relative;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
   
   
}

.form-input:focus ~ .icon-svg-name, .form-input:focus ~ .icon-svg-phone 
{
    fill: #4D5AE5;
}


.icon-form
{
    position: relative;
 
}

.icon-svg-name
{
    
    position: absolute;
    left: 5%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height:12px;
}

.icon-svg-phone
{
    position: absolute;
    left: 5%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height:13px;
}


.icon-form-phone
{
    position: relative;
   
  
}

.form-input
{
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 360px;
    padding-left: 34px;
}



.form-area{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    border: #4D5AE5;

   
}

.text-input input::placeholder
{
  


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;


    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    
} 


.text-input
{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding-top:8px ;
    padding-left: 16px;
}

.text-input:focus-visible
{
    outline:1px solid #4D5AE5;
}


.form-input:focus-visible
{
    outline:1px solid #4D5AE5;
}

.form-label
{
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;


    letter-spacing: 0.01em;



    color: #8E8F99;
}


.form-policy
{
    position: relative;
    width: 338px;
    height: 16px;

    text-align: end;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;


    letter-spacing: 0.04em;

    color: #757575;
 
}


.color-policy
{
    color: var(--main-color-blue);
    text-decoration: none;
}

.checkbox
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.label-before::before
{
    content: "";
    display: inline-block;
    position: absolute;
    top:0%;
    left: 0;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.checkbox:checked + .label-before::before
{
    border: #4D5AE5;
    background-color: #4D5AE5;
    background-image: url('../image/svg-image/Property.svg');
    background-size: contain;
    background-origin:border-box ;
}


.button-form
{
    position: absolute;
    width: 170px;
    height: 51px;
    left: 25%;
    top: 87%;
    cursor: pointer;

    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #4D5AE5;

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover
{
    background: #404BBF;
    
}


.form-footer
{

    display: flex;
    gap: 24px;
    width: 460px;
}

.input-footer
{
    
    margin-top:16px ;
    width:264px ;
    height: 40px;
    padding-left:16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2E2F42;
    color: #FFFFFF;
}



.button-footer
{
   
    margin-top: 16px;
    width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px;
    border: #4D5AE5;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover
{
    background-color: #404BBF;
}


.footer-span
{
    justify-content: center;
    gap: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
   

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.footer-span::after
{
    content: "";
    display:inline-block;
    top: 5%;
    left:65%;

   
   
    width: 24px; 
    height:24px;
    background: url('../image/svg-image/Frame.svg');
}


.text{
    width: 264px;
}
/* Portfolio design */




/* section 1*/

.portfolio
{
    color: var(--main-color-blue);
}

.portfolio:after
{
    content: "";
    position: absolute;
    left: 0;
    top: 42px;  

    display: block;
    width: 67px;
    height: 4px;
    border-radius: 2px;

    background: #4D5AE5; 
}


.section-portfolio
{
    padding-top: 96px;
    padding-bottom:120px ;
}

.buttons
{
    display: flex;
    justify-content: center;
}

.buttons li:not(:last-child)
{
    margin-right: 24px;
}

.nav-portfolio
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 72px;

  
}

.nav-buttons
{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border:1px solid transparent;
    border-radius: 4px;
    color: var(--main-color-blue);
    background: var(--color-cloud);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: Roboto, sans-serif;


    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-buttons:hover, .nav-buttons:focus
{
    color:var(--main-color-white);
    background: var(--main-color-blue); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-media
{
   margin-right:80px;
}

/* section 2 */

.h-two
{
    margin:0;
   
    margin-bottom: 8px;
    
    color:var(--main-color-text);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.p-portfolio
{
    color:var(--second-color-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.p-portfolio-second
{
    color: var(--color-cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.p-thumb
{
    position: relative;
    overflow: hidden;
    
    
}


.p-thumb::before
{
    display: block;
    position: absolute;
    content: "";
    background-color:var(--main-color-focus);
    width: 360px;
    height: 300px;
    opacity: 0;

    transition-property: transform, box-shadow;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
}

.p-actions
{
    display: block;
    position: absolute;
    content: "";
    left: 32px;
    top: 40px; ;
    width: 296px;
    height: 96px;
    opacity: 0;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    transition-property: transform, box-shadow;
    transform: translateY(300%) ;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
}



.image
{
    display: block;
}

.card-border:hover .p-actions
{
    opacity: 1;
    transform: translateY(0); 
    
}

.card-border:hover .p-thumb::before
{
    opacity: 1;
    transform: translateY(0); 
    
}

.filters
{
    
    display: flex ;
    flex-wrap: wrap;
    
}


.card-border
{
    width: 360px;
    margin-bottom: 48px;
    
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.card-border:nth-child(n + 7)
{
    margin-bottom: 0;
}

.card-border:not(:nth-child(3n))
{
    margin-right: 24px;
    
}

.card-border:focus, .card-border:hover
{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08) ;
}

 .p-shadow
 {
    
    border: 0.5px solid #F4F4FD;
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
 }


 .visually-hidden
 {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
 


/* адаптивні медіа данні */



 @media screen and (max-width: 481px){
    .container
    {
       margin-left: auto;
       margin-right: auto;
       padding-left: 15px;
       padding-right: 15px;
    }
    .studio-title
    {
        margin: 0;
        /* margin-right: 250px; */
    }

    .header
    {
        position: relative;
    }
    .header > .container 
    {
        justify-content: space-between;
    }
    /* .navigation
    {
        display: none;
    }
    .contact
    {
        display: none;
    } */
    .section-title
    {
        
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 320px;
    }
    .overlay
    {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .recomends>li:not(:last-child)
    {
        margin-bottom: 72px;
    }
    .color-title
    {
        text-align: center;
    }
    .recomends> li:not(:first-child)
    {
 
        margin-left: 0;
      
    }
    .recomends
    {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
 
    }
 
    .color-card
    {

        width: 260px;
    }
  
    .icon
    {
        display: none;
    }
    .section
    {
        display: none;
    }

    .customers
    {
       flex-wrap: wrap;
        justify-content: center;
    }
    .footer > .container
    {
        flex-direction: column;
       
    }
    .form-footer
    {
        flex-direction: column;
    }

    .footer-logo
    {
        margin-right: 0;
    }
    .footer-logo > .text
    {
        margin-bottom: 72px;
    }
    .social-media
    {
        margin-right: 0;
        margin-bottom: 72px;
    }
    .label-footer
    {
        margin-left: 43%;
    }
    .button-footer
    {
        margin-top: 0;
    }

    .menu-button
    {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    } 

    
    .menu-container
    {
        display: none;
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
        height: 796px;
    
        background-color: #F4F4FD;
    
    }
    
    .mobile-contact, .mobile-navigation
    {
    
      
    }
    
    .menu-container.is-open
    {
        display: block;
    }



    .menu-button  .icon-cross
    {
        display: none;
    }
    
    .menu-button.is-open .icon-cross
    {
        display: block;
    }
    
    .menu-button.is-open .icon-menu
    {
        display: none;
    }
    
    


    /* portfolio adaptive code */


    .nav-portfolio
    {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 48px;
    }
    .nav-buttons
    {
        margin-bottom:16px ;
    }
 }
@media screen and (min-width: 768px){
    .container
    {
       
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1200px;
    }

    .section-title
    {
        width: 768px;
        min-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1200px;
    }
    }


@media screen and (min-width: 1200px){
    .container
    {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-title
    {
        width: 1200px;
        min-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    }










    /* мобільне мнею */






